AWSTemplateFormatVersion: 2010-09-09
Description: Atomwood store template
Metadata:

Parameters:

Mappings:

Conditions:

Resources:
    AtomwoodStoreSG:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: Allow https connections to client host
            VpcId:
                Ref: myVPC
            SecurityGroupIngress:
                - IpProtocol: tcp
                  FromPort: 443
                  ToPort: 443
                  CidrIp: 0.0.0.0/0
            SecurityGroupEgress:
                - IpProtocol: tcp
                  FromPort: 443
                  ToPort: 443
                  CidrIp: 0.0.0.0/0

    AtomwoodStoreEC2:
        Type: AWS::EC2::Instance
        Properties:
            KeyName: "AtomwoodKeyPair"

Outputs:
